.detail-box {
  margin-top: 50px;
}

.detail-box_title {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 36px */
  letter-spacing: -0.264px;
}

.detail-box_titleDescription {
  color: #989898;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.275px;
}

.detail-box_titleLink a {
  color: #074CFD;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.22px;
  text-decoration: none;
  margin-left: 10px;
}

.detail-box_linkGroup {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.detail-box_linkGroup a {
  color: #C5C5C5;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
}

.detail-box_time {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 22.5px */
}

.detail-box_anthor {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.165px;
  margin-top: 6px;
}

.detail-box_awardlist {
  margin-top: 22px;
}

.detail-box_awarditem {
  display: flex;
  margin-top: 27px;
}

.box_awarditem_time {
  width: 162px;
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.198px;
  /* 27px */
  letter-spacing: -0.198px;
  height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_awarditem_place {
  color: #868080;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.132px;
}

.box_awarditem_desc {
  width: 538px;
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.198px;
}

.detail-box_baseTitle {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.22px;
  margin-top: 45px;
  margin-bottom: 12px;
}

.detail-box_miniTitle {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.22px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.detail-box_introduction {
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.165px;
  white-space: pre-line;
}

.detail-box_introduction_btn {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

.box_introduction_btn_outer {
  border-radius: 41px;
  border: 1px solid #000;
  padding: 10px 24px;
  margin-right: 21px;
  margin-bottom: 15px;
  cursor: pointer;
}

.box_introduction_btn_outer a,
.box_introduction_btn_outer span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.165px;
  text-decoration: none;
}

.detail-box_contantItem {
  /* margin-top: 45px; */
}

.box_contantItem_img img {
  width: 100%;
  margin-bottom: 25px;
}

.box_contantItem_centerText {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 22.5px */
  letter-spacing: -0.165px;
  margin-bottom: 25px;
}
