<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luoshan's homepage</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/project.css">
</head>

<body>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="./js/vue.global.js"></script>
    <script src="./js/projectInfo.js"></script>

    <div id="app" style="overflow-x: hidden;">
        <div class="main">
            <!-- 菜单 -->
            <div class="header">
                <div class="header-left">
                    <div class="header-name">
                        LUO SHAN
                    </div>
                    <div class="header-email">
                        luoshan3398@qq.com
                    </div>
                </div>
                <div class="header-right">
                    <div @click="goToPage('./index.html')" class="header-menu ">
                        Home
                    </div>
                    <div @click="goToPage('./project.html')" class="header-menu select">
                        Project
                    </div>

                </div>
            </div>
            <!-- 二级菜单 -->
            <div class="nav-menu">
                <div @click="goToPage('./accessibility.html')" class="nav-menu-item">Accessibility</div>
                <div @click="goToPage('./game.html')" class="nav-menu-item">Game</div>
                <div @click="goToPage('./more-than-human.html')" class="nav-menu-item">More than Human</div>
                <div @click="goToPage('./channel.html')" class="nav-menu-item">Channel</div>
                <div @click="goToPage('./interesting.html')" class="nav-menu-item">Interesting</div>
            </div>
            <!-- 主体内容 -->
            <div class="main-body">
                <div class="focus-list">
                    <div class="focus-list-item">

                        <div class="focus-list-item-left">
                            <div class="title">Hearing the Bullseye</div>
                            <div class="time">2021-2022</div>
                            <div class="desc">How can we facilitate VI individuals to play together with sighted
                                individuals? In the VI community, social play plays a crucial role as it.</div>
                        </div>
                        <div class="focus-list-item-right">
                            <!-- <img style="width: 100%;" src="./image/focus/focus-1.png" alt=""> -->
                            <div id="video-box-1" style="width: 100%;height: 534px;">
                                <video id="video-1" style="width: 100%;" controls src="./file/video-1-mini.mp4" muted=""
                                    loop="" playsinline="" disableremoteplayback="" disablepictureinpicture=""></video>

                                <!-- <video id="video-1" style="width: 100%;" controls
                                    src="./file/video-Hearing The Bullseye.mp4" muted="" loop="" playsinline=""
                                    disableremoteplayback="" disablepictureinpicture=""></video> -->
                                <!-- <video src="/static/vault/Projects/Cell Space/_resources/Cell Space/Cell Space 30s.webm" loop="" playsinline="" disableremoteplayback="" disablepictureinpicture="" style="display: block; width: 100%; object-fit: cover;"></video> -->
                            </div>
                        </div>
                    </div>
                    <div class="focus-list-item">

                        <div class="focus-list-item-left">
                            <div class="title">Asking Water with a Stone</div>
                            <div class="time">2025-2026</div>
                            <div class="desc">Designing Playful Dialogues with Water System to Build Connection between
                                Human and Water Ecosystems
                            </div>
                        </div>
                        <div class="focus-list-item-right">
                            <div id="video-box-2" style="width: 100%;height: 534px;">
                                <video id="video-2" style="width: 100%;" controls src="./file/video-2.mp4" muted=""
                                    loop="" playsinline="" disableremoteplayback="" disablepictureinpicture=""></video>
                                <!-- <img style="width: 100%;" src="./image/focus/focus-2.png" alt=""> -->
                                <!-- <video id="video-2" style="width: 100%;" src="./file/video-1.mp4" muted="" loop=""
                                    playsinline="" disableremoteplayback="" disablepictureinpicture=""></video> -->
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <!-- 描述 -->
            <div class="project-outer-box">
                <div class="project-box">
                    <div class="project-box-title">墓志铭</div>
                    <div class="project-box-desc">我第一次发论文的时候，询问我的mentor发论文的意义在哪里？25年因为参加会议去了很多地方，也和世界上不同的老师合作，看了世界不同的展览，论文，设计，研究，认识了一堆志同道合的朋友们....我收集了一些答案。“为了寻找能测量自己的尺子”。“因为世界的另外一边有人会cite你的文章，在这个基础上作出更有意义的贡献”“因为你的设计不会被抄袭，一篇论文足够证明设计创意的归属权利，可以让别人找到你。”
                        <br>我也有一些浪漫的答案：因为当我们在为未来做设计，造出了一个一个又一个种子时，不应该以每一次设计比赛，展览为终点，所以可以在一个相对能够墒减的地方，给他们造一座墓碑，来来往往的人们看见了，拜一拜，时不时烧柱香。
                        <br>我时刻提醒自己，所有的设计研究不应该是为了发论文而发论文，应该尽可能的寻找机会创造更多的社会价值，不能因为世事浮名而忘却了真正有价值的事...
                        <br>今年，又给新作品立了一些墓碑，感谢你来看望他们，他们和我都拥有了after life。
                    </div>
                    <div class="project-box-title" style="margin-top: 40px;">Epitaph</div>
                    <div class="project-box-desc">When I first published a paper, I asked my mentor: what's the meaning of publishing? In 2025
                        years, I've traveled to many conferences, collaborated with people from around the world, seen
                        different exhibitions, written papers, done design, research, and met a lot of partners and
                        friends... I've collected some answers along the way. "To find a ruler to measure yourself
                        against." "Because someone on the other side of the world might cite your work, and on that
                        foundation, contribute something truly meaningful." "Because your designs won't get plagiarized
                        — a paper is proof that the creative credit belongs to you, and it helps the right people find
                        you."
                        <br>I've also have my romantic answers: When we design for the future, we are sowing seeds for the
                        life of today— one by one by one. Every design competition or exhibitions shouldn't be the
                        finish seeds's life, so it's better to have a place where impact can keep growing. Build them a
                        tombstone, so people come and go, pausing before the tombstone — lingering, conversing,
                        kneeling, burning incense. Believing that one day, it will take root and bloom.
                        <br>I always remind myself: design research shouldn't just be about publishing for the publishing.
                        It should be about finding every possible opportunity to create real social value. You can't get
                        so caught up in chasing success that you forget what actually matters and true life...
                        <br>This year, I built a few more tombstones for new works. Thank you for coming to pay your
                        respects. Because of you, They and me now have an afterlife.
                    </div>
                </div>

                <div class="project-img-box">
                    <template v-for="(project, index) in sortedProjects" :key="project.id">
                         <img 
                            @click="goToPage('./detail.html?ProjectId=' + project.id)" 
                            :class="'img-size-' + ((index % 3) + 1)"
                            :src="project.coverImage" 
                            alt="">
                    </template>
                    <div v-for="n in emptyCells" :key="'empty-'+n" class="img-size-3"></div>
                </div>
            </div>


        </div>


    </div>

    <script>
        const { createApp, ref, computed } = Vue

        createApp({
            setup() {
                console.log('projectInfoData:', projectInfoData)
                const projects = ref(Object.values(projectInfoData))
                
                const sortedProjects = computed(() => {
                    return [...projects.value].sort((a, b) => {
                        return (a.sortOrder || 0) - (b.sortOrder || 0)
                    })
                })
                
                const emptyCells = computed(() => {
                    const len = sortedProjects.value.length;
                    const remainder = len % 3;
                    return remainder === 0 ? 0 : 3 - remainder;
                })

                const goToPage = (path) => {
                    // if (path === '/') {
                    //     window.location.href = window.location.origin
                    // } else {
                    //     window.location.href = path + '.html'

                    // }
                    window.location.href = path

                }
                const autoPlayVideo = () => {
                    document.addEventListener('DOMContentLoaded', function () {

                        const video1 = document.getElementById('video-1'); // 选择视频元素
                        const video2 = document.getElementById('video-2'); // 选择视频元素
                        // const video3 = document.getElementById('video-3'); // 选择视频元素

                        const videoContainer1 = document.getElementById('video-box-1');
                        const videoContainer2 = document.getElementById('video-box-2');
                        // const videoContainer3 = document.getElementById('video-box-3');


                        videoContainer1.addEventListener('mouseenter', () => {
                            video1.play();
                        });

                        videoContainer1.addEventListener('mouseleave', () => {
                            video1.pause();
                        });
                        videoContainer2.addEventListener('mouseenter', () => {
                            video2.play();
                        });

                        videoContainer2.addEventListener('mouseleave', () => {
                            video2.pause();
                        });

                    });


                }
                autoPlayVideo()
                return {
                    goToPage,
                    sortedProjects,
                    emptyCells
                }
            }
        }).mount('#app')
    </script>

    <script src="./js/resize.js"></script>
</body>

</html>